* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}

body {
    /* position: relative; */
    background-color: rgb(235, 149, 172);
}



.container {
    /* position: relative; */
    width: 100%;
}


.child-container {
    width:fit-content;

}

header {
    background-color: rgb(177, 106, 125);
    
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 2rem;
}

.logo {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}


.logo i {
    color: #fff;
    font-size: 20px;
}

.logo i:hover{
    color: rgb(153, 22, 57);
}

.logo h1:hover{
    color: rgb(153, 22, 57);
}

.logo a h1 {
    color:#fff;
    font-size: 25px;
}



.logo a img {
    width: 50px;
    
    
}

.search-bar input {
    height: 30px;
    width: 400px;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    border: none;
}

.search-bar button {
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 0 50px 50px 0;
    border: none;
    background-color: rgb(234,123,152);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}


.search {
    display: none;
    color: #fff;
}

.drop_search-bar.open {
    height: 30px;
}

.drop_search-bar {
    position: absolute;
    top: 9%;
    left: 15%;
    display: flex;
    z-index: 5;
    gap: 5px;
}
.drop_search-bar input {
    display: none;
    height: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    border: none;
    
}

.drop_search-bar input:focus {
    outline: none;
}



.drop_search-bar button {
    display: none;
    height: 30px;
    width: 60px;
    padding: 5px;
    border-radius: 0 50px 50px 0;
    border: none;
    background-color: rgb(234,123,152);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s;
}

.search-bar button:hover{
    background-color: rgb(153, 22, 57);
    color: #fceefb;
}

.search-bar input:focus{
    outline: none;
}

nav {
    display: flex;
    gap: 30px;
}

nav a{
    display: flex;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    padding: 7px;
    transition: 0.3s;
}

nav a i {
    margin-right: 5px;
}

nav a:hover{
    color: rgb(153, 22, 57);

}

nav a h4{
    font-size: 17px;
}

.home {
    display: block;
    width: 100%;
}

.imag {
    margin: 1.8rem auto;
    width: 90%;
    height: 202px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

 .imag .slider {
    max-width: 88vw;
    height: inherit;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.item {
    height: 202px;
}

.imag img {
    border-radius: 10px;
    max-width: 88vw;
    object-fit: contain;

}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content-list {
    position: relative;
    width: 19%;
    background-color: #fff;
    border-radius: 5%;
    padding: 5px;
    transition: 0.3s ease-in-out;
}


.content-list a img{
    width: 100%;
    border-radius: 5%;
    
}

.descript {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
    color: #000;
}

.descript h3 {
    font-weight: 600;
    font-size: 20px;
}

.fav {
    position: absolute;
    background-color: rgb(234,123,152);
    padding: 5px;
    border-radius: 20%;
    color: #fff;
    top: 1.5%;
    left: 85%;
    transition: 0.3s ease-in-out;
    cursor: pointer;;
}

.fav:hover {
    transform: scale(1.1);
}

.content-list:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 3);
    transform: scale(1.04);
    
}

.controller {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

.controller-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: rgb(235, 149, 172);
    border-radius: 10px;
    padding: 5px;
    border: 5px solid #fff;
}

.controller-nav{
    text-align: center;
    width: 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.controller-nav a {
    color: #000;
}

.controller-nav a:hover,
.controller-nav a.active {
    color: rgb(235, 149, 172) ;
}

@media (max-width: 1159px) {
    .logo a h1 {
        font-size: 22px;
    }

    .search-bar input {
        width: 300px;
    }

    .imag {
        height: 150px;
    
    }
    
    .buttons button {
        width: 30px;
        height: 30px;
    }

    .dots li {
        margin: 10px;
    }
}

@media (max-width: 1013px) {
    .search-bar input {
        width: 220px;
    }
}

@media (max-width: 958px) {
    nav a h4 {
        display: none;
    }

    nav {
        gap: 20px;
    }

    
    .content-list {
        width: 30%;
    }

    .imag {
        height: 130px;
    
    }
    
    .buttons button {
        width: 30px;
        height: 30px;
    }

    .dots li {
        margin: 10px;
    }
}

@media (max-width: 798px) {
    nav a h4 {
        display: none;
    }

    /* .search {
        display: block;
    } */

    /* .drop_search-bar input {
        display: block;
    }

    .drop_search-bar button {
        display: block;
    } */

    nav {
        gap: 15px;
    }

    .logo a h1 {
        font-size: 16px;
    }

    .search {
        display: block;
    }
    .search-bar input {
        display: none;
    }

    .search-bar button {
        display: none;
    }

    .content-list {
        width: 47%;
    }

    .descript h3 {
        font-size: 19px;
    }

    .descript p {
        font-size: 15px;
    }
    
    .imag {
        height: 120px;
    
    }
    
    .buttons button {
        width: 30px;
        height: 30px;
    }
    
    .dots li {
        margin: 10px;
    }

    
}

@media (max-width: 670px){

    .imag {
        height: 100px;
    
    }
    
    .buttons button {
        width: 25px;
        height: 25px;
    }
    
    .dots li {
        width: 7px;
        height: 7px;
        margin: 7px;
    }

}

@media (max-width: 505px){

    .imag {
        height: 80px;
    
    }
    
    .buttons button {
        width: 15px;
        height: 15px;
    }
    
    .dots li {
        width: 5px;
        height: 5px;
        margin: 5px;
    }

}

@media (max-width: 425px){

    .imag {
        height: 70px;
    
    }
    
    .buttons button {
        width: 15px;
        height: 15px;
    }
    
    .dots li {
        width: 5px;
        height: 5px;
        margin: 5px;
    }

}

